<launch>
  <param name="robot_description" command="$(find xacro)/xacro --inorder $(find thymio_driver)/models/thymio.urdf.xacro" />

  <!--include file="$(find gazebo_ros)/launch/empty_world.launch" /-->

  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model thymio" />
</launch>
